* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#rome {
    background-image: url('images/rome.jpg')
}

#milan {
    background-image: url('images/milan.jpg')
}

#naples {
    background-image: url('images/naples.jpg')
}

.city-container {
    position: relative;
    margin: 0 auto;

    width: 400px;
    height: 200px;
    background-size: cover;

    border: 1.5px solid black;
}

.city-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    font-size: 30px;
    color: white;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
}